#slogan {
        display:block;
        position:absolute;
        //top:30%;        
        //top:19.5%;
        bottom:-32%;
        //left:40%;        
                //left:53.25%;
        left:35.5%;
        //width:100%;
        //height:100%;
        //min-width:100%;
        //border:solid red 10px;
        min-height:6rem;
        //max-width:15%;
        //min-width:3rem; 
        background:transparent;
        background-color: rgba(0, 0, 0, .5) !important;
        border-radius: 30%;
        z-index:800;

}
#slogan img{
        display:block;
        position:relative; 
        //margin:auto;
        //border:solid blue 4px;
}

div.full-overlay{
        display:block;
        position:absolute;
        top:.1rem;
        left:0rem;
        width:100%;
        height:100%;
        z-index:10;
        background:transparent;
        background-color: rgba(0, 0, 0, .3) !important;

}
/****************************************
Though requested to be large these images will be placed in a slider
that is slightly smaller and you can see many images at one time.
***************************************/
p.speech
{
	position: absolute;
        top:1rem;
        right:1rem;
	width: 8rem;
	height: 4rem;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
        //z-index:10;
}
div.slide-wrap{
      display:block;
     position:relative;
        max-height:10rem;
//float:left;
//text-align:center;
//border:solid blue 2px;
        //z-index:-1;
clear:both;
        /*top:.1rem;
        left:0rem;
        z-index:-1;
        //width:100%;
        //height:fit-content;
        //max-width:auto;
        border:solid blue 1px;
        padding:0rem;
margin:0rem;*/
        
}
#equip-slider {
   background: #000;
   border: 5px solid #eaeaea;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   position:relative;
   height: 10rem;
        max-height:10rem;
   width: 21.25rem;
   margin:auto;
   padding:0rem;
   //border:solid red 2px;

   //text-align:center;
   //overflow: hidden;
   //position: relative;
   
}

#equip-slider h2{
        display:block;
width:100%;
        position:absolute;
        top:0rem;
        left:0rem;
        z-index:2;
	font: 1.25rem 'Arizonia', Helvetica, sans-serif;
        font-weight: 100;
	color: #4c4c4c;//#fff;//rgba(100, 256, 100, .6);
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, .6);
}
/* HIDE ALL OUTSIDE OF THE SLIDER */

#mask {
   overflow: hidden;
   height: 10rem;
   max-height: 320px;
clear:both;
}
#equip-slider ul {
   display:block;
   margin: auto;
   padding: 0;
   position: relative;
}
#equip-slider li {
   width: auto;  /* Width Image */
   height: 320px; /* Height Image */
   position: absolute;
   top: -325px; /* Original Position - Outside of the Slider */
   list-style: none;
}
#equip-slider li img {
        display:block;
        margin:auto;
        max-height:320px;
        width:auto;
}

#equip-slider li.firstanimation {
   animation: cycle 25s linear infinite;
}

#equip-slider li.secondanimation {
   animation: cycletwo 25s linear infinite;
}

#equip-slider li.thirdanimation {
   animation: cyclethree 25s linear infinite;
}

#equip-slider li.fourthanimation {
   animation: cyclefour 25s linear infinite;
}

#equip-slider li.fifthanimation {
   animation: cyclefive 25s linear infinite;
}

@keyframes cycle {
   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
   4%  { top: 0px; } /* Original Position */
   16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
   20% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   21% { top: -325px; opacity: 0; z-index: -1; display:none;} /* Return to Original Position */
   92% { top: -325px; opacity: 0; z-index: 0; }
   96% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ top: 0px; opacity: 1; }
}

@keyframes cycletwo {
   0%  { top: -325px; opacity: 0; } /* Original Position */
   16% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   40% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   41% { top: -325px; opacity: 0; z-index: -1; display:none;}   /* Return to Original Position */
   100%{ top: -325px; opacity: 0; z-index: -1; display:none;}
}

@keyframes cyclethree {
   0%  { top: -325px; opacity: 0; }
   36% { top: -325px; opacity: 0; }
   40% { top: 0px; opacity: 1; }
   44% { top: 0px; opacity: 1; }
   56% { top: 0px; opacity: 1; }
   60% { top: 325px; opacity: 0; z-index: 0; }
   61% { top: -325px; opacity: 0; z-index: -1; display:none;}
   100%{ top: -325px; opacity: 0; z-index: -1; display:none;}
}

@keyframes cyclefour {
   0%  { top: -325px; opacity: 0; }
   56% { top: -325px; opacity: 0; }
   60% { top: 0px; opacity: 1; }
   64% { top: 0px; opacity: 1; }
   76% { top: 0px; opacity: 1; z-index: 0; }
   80% { top: 325px; opacity: 0; z-index: 0; }
   81% { top: -325px; opacity: 0; z-index: -1; display:none;}
   100%{ top: -325px; opacity: 0; z-index: -1; display:none;}
}

@keyframes cyclefive {
   0%  { top: -325px; opacity: 0; }
   76% { top: -325px; opacity: 0; }
   80% { top: 0px; opacity: 1; }
   84% { top: 0px; opacity: 1; }
   96% { top: 0px; opacity: 1; z-index: 0; display:none;}
   100%{ top: 325px; opacity: 0; z-index: 0; display:none;}
}

